{% extends 'base.html' %}

{% block content %}
    <center>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <div style="background-color: #e3f2fd; width: 600px; padding: 50px; border-radius: 50px;">
            <form method="post" action="" style="max-width: 500px;">
                {% csrf_token %}
                {{ form.as_p }}
                <br/>
                <input type="submit" value="Login" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md text-sm font-medium">
            </form><br/><br/>
            <h5> if you don't have an account please <a href={% url "accounts:register"%}>Register</a> .</h5>
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </center>
{% endblock %}